@model IEnumerable<MVC1.Models.客戶聯絡人>



@using (Html.BeginForm())
{
    <table class="table" border="1" style="width:100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.是否已刪除)
            </th>            
        </tr>
        @{
            var data = Model.ToArray();
        }
        @for (int i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].Id)
            @Html.HiddenFor(modelItem => data[i].客戶Id)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].職稱)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].職稱, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].手機)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].手機, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].電話)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].電話, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].是否已刪除)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="批次更新聯絡人資訊" class="button" />
}