@model IPagedList<MVC1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}



<h2>客戶聯絡人</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    <p>
        @Html.ActionLink("新增聯絡人", "Create", new { }, new { @class = "btn btn-xs  btn-primary" })
        <button id="btnExport" class="btn btn-xs btn-primary" onclick="Export('@Url.Action("ExportExcel", "客戶聯絡人")')">匯出客戶聯絡人</button>
        @if (string.IsNullOrEmpty(ViewBag.keyword))
        {
            <input id="keyword" type="text" name="name" />
        }
        else {
            <input id="keyword" type="text" name="name" value="@ViewBag.keyword" />
        }
        <button id="Search" onclick="Export('@Url.Action("Index", "客戶聯絡人")'" class="btn btn-xs">搜尋</button>
    </p>
}
<table class="table" >
    <tr>
        <th style="width:15%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶資料.客戶名稱)
        </th>
        <th style="width:15%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().職稱)
            @Html.DropDownListFor(model => model.FirstOrDefault().職稱, (IEnumerable<SelectListItem>)ViewBag.JobTitle, "全部", new { id = "ddlJobTitle" })
        </th>
        <th style="width:15%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().姓名)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th style="width:10%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().手機)
        </th>
        <th style="width:10%;">
            @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
        </th>
        <th></th>
    </tr>
</table>

<table class="table" id="_ContantPartial">
    @Html.Partial("ContantPartial", Model)
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlJobTitle").change(function () {
            alert($(this).val());
            var keyword = $("#keyword").val();
            var jobtitle = $(this).val();
                $("#_ContantPartial").load("@Url.Action("Filter", "客戶聯絡人")", { keyword: keyword, jobtitle: jobtitle, page: 1 });
            
        });
    });
    function Export(url) {
        $("#form").attr("action", url);
        $("#form").submit();
    }
   
</script>

@if (TempData["CustContactSuccessMsg"] != null)
{
    <script>
        alert(@TempData["CustContactSuccessMsg"]);
    </script>
}



