@model IEnumerable<MVC1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

@if (TempData["CustContactSuccessMsg"] != null)
{
    <script>
        alert('@TempData["CustContactSuccessMsg"]');
    </script>
}

<script>
    function Export(url) {
        $("#form").attr("action",url);
        $("#form").submit();
    }
</script>

<h2>客戶聯絡人</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    <p>
        @Html.ActionLink("新增聯絡人", "Create", new { }, new { @class = "btn btn-xs  btn-primary" })
        <button id="btnExport" class="btn btn-xs btn-primary" onclick="Export('@Url.Action("ExportExcel", "客戶聯絡人")')">匯出客戶聯絡人</button>
        <input type="text" name="name" />
        <input id="Search" type="submit" value="搜尋" class="btn btn-xs" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
