@model IEnumerable<MVC1.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>

@using (Html.BeginForm(null, null, FormMethod.Get, new { name = "form1" }))
{
    <p>
        @Html.ActionLink("新增客戶", "Create", new { }, new { @class = "button" })
        <input id="btnExport" type="submit" value="匯出客戶資料" formaction="@Url.Action("ExportExcel", "客戶資料")" class="button" />
        @Html.TextBox("keyword", "", new { placeholder = "請輸入關鍵字" })
        <input id="Search" type="submit" value="搜尋" class="button" />

    </p>


    <table class="table" border="1" style="width:100%">
        <tr id="tbtitle">
            <th>
                @Html.ActionLink("客戶分類", null)
            </th>
            <th>
                @Html.ActionLink("帳號", null)
            </th>
            <th>
                @Html.ActionLink("客戶名稱", null)
            </th>
            <th>
                @Html.ActionLink("統一編號", null)
            </th>
            <th>
                @Html.ActionLink("電話", null)
            </th>
            <th>
                @Html.ActionLink("傳真", null)
            </th>
            <th>
                @Html.ActionLink("地址", null)
            </th>
            <th>
                @Html.ActionLink("Email", null)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶分類)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.帳號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page }))
    @Html.Hidden("page")
    @Html.Hidden("Sort")
    @Html.Hidden("Sidx")

}


@if (TempData["CustInfoSuccessMsg"] != null)
{
    <script>
        alert('@TempData["CustInfoSuccessMsg"]');
    </script>
}
@section scripts {
    <script>
        $(function () {

            $('.pagination-container a').on('click', function () {
                var href = $(this).attr('href');
                var pid = href.substring(href.indexOf('?page=') + 6);
                document.form1.page.value = pid;
                document.form1.submit();
                return false;
            })
            $('th a').on('click', function () {
                if ($(this).text() == $("#Sort").val()) {
                    if ($("#Sidx").val() == "desc") {
                        $("#Sidx").val("asc");
                    }
                    else {
                        $("#Sidx").val("desc");
                    }
                }
                else {
                    $("#Sort").val($(this).text());
                    $("#Sidx").val("asc");
                }
                document.form1.submit();
                return false;
            })

            $("#btnExport").on("click", function () {
                $("#btnExport").submit();
            });
        })
    </script>
}